* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header-container {
  height: 80px;
  background: black;
  margin: 0 auto;
  z-index: 10;
}
nav {
  display: flex;
}
header img {
  height: 80px;
  margin-left: 20px;
  padding: 8px;
}
header #nav {
  flex: 1;
  text-align: right;
}
header li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
  margin-top: 15px;
}
header li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  transition: transform 0.5s ease;
}
header li a:hover {
  transform: scale(1.2);
  color: white;
}
.ham {
  float: right;
  height: 50px;
  width: 50px;
  margin: 15px 30px;
  padding: 25px;
  cursor: pointer;
  display: none;
}
.bar {
  height: 3px;
  background-color: white;
  width: 25px;
  position: relative;
  left: -15px;
  padding: 2px;
  transition: all 0.7s ease;
}
#bar1 {
  transform: translateY(-7px);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  clear: both;
}
.imageText {
  position: relative;
  margin-top: 20px;
  transition: transform 0.7s ease;
}
.imageText img {
  opacity: 0.6;
}
.imageText h3 {
  cursor: pointer;
  position: relative;
  top: -80px;
  left: 55px;
  color: rgba(0, 0, 0, 0.8);
}
.color {
  background: radial-gradient(#fff, #ffd6d6);
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  margin-top: 50px;
  min-width: 300px;
}
.col-2 img {
  height: 700px;
  padding: 50px 20px;
  max-width: 100%;
}
.col-2 h1 {
  font-size: 40px;
  font-family: "Bree Serif", serif;
  line-height: 60px;
  margin-left: 20px;
}
.col-2 button {
  width: 120px;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  margin-left: 20px;
}
.col-2 button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px;
}
.col-2 button a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.col-2 button a:hover {
  color: #e7bba3;
}
.small-container {
  max-width: 1250px !important;
  margin: 20px auto;
}

.col-3 {
  flex-basis: 30%;
  padding: 20px auto;
  text-align: center;
  margin: 20px 0;
}
.col-3 img {
  width: 300px;
  transition: transform 0.7s ease;
  cursor: pointer;
}
.col-3 h3 {
  margin-top: 16px;
}
.col-3 .hover:hover {
  transform: scale(1.05);
}
.categories {
  text-align: center;
  margin: 50px 0;
}
.categories h2 {
  position: relative;
}
.categories h2::after {
  content: "";
  position: absolute;
  background: red;
  border-radius: 20%;
  height: 5px;
  width: 4%;
  bottom: -7px;
  left: 48%;
}
.feedbacks h2 {
  position: relative;
}
.feedbacks h2::after {
  content: "";
  position: absolute;
  background: red;
  border-radius: 20%;
  height: 5px;
  width: 4%;
  bottom: -7px;
  left: 48%;
}
.exclusives {
  text-align: center;
  background: radial-gradient(#fff, #fafad2);
}
.exclusives h2 {
  position: relative;
  top: 26px;
}
.exclusives h2::after {
  content: "";
  position: absolute;
  background: red;
  border-radius: 20%;
  height: 5px;
  width: 4%;
  bottom: -7px;
  left: 48%;
}
.exclusives p {
  font-size: 23px;
}
.exclusives h3 {
  font-size: 50px;
  margin-bottom: 8px;
}
.exclusives .col-2 img {
  width: 500px;
  cursor: pointer;
  transition: transform 0.8s ease;
}
.exclusives .col-2 img:hover {
  transform: scale(1.05);
}
hr {
  width: 20%;
  height: 4px;
  position: relative;
  left: 45%;
  background-color: red;
}
.medium-container {
  max-width: 1800px;
  margin: 0 auto;
}
.customs {
  background-image: url("images/abs.jpg");
  height: 200px;
  margin: 0 auto;
}
.btn {
  position: relative;
  left: 45%;
  top: 50px;
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px;
}
.btn:hover {
  color: #e7bba3;
}
i {
  margin-left: 8px;
}
.rotate #bar1 {
  transform: rotate(50deg);
  position: relative;
  top: 2px;
}
.rotate #bar2 {
  transform: rotate(-50deg);
  position: relative;
  bottom: 2px;
}
.display {
  transition: all 0.6s ease;
  height: 90vh;
}
.header-container {
  position: fixed;
  width: 100%;
}
.feedbacks {
  text-align: center;
  margin-top: 50px;
}
.feedbacks .col-3 {
  padding: 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  cursor: pointer;
}
.feedbacks .col-3:hover {
  transform: scale(1.05);
}
.feedbacks .customer-img {
  height: 100px;
  width: 100px;
}
.rating {
  margin-top: 10px;
}
.fa-star,
.fa-star-o,
.fa-star-half-empty {
  color: #d78b52;
}
.fa.fa-quote-left {
  color: #d78b52;
  font-size: 25px;
}
.footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  margin-right: 40px;
}
.fa.fa-address-card-o {
  color: white;
  font-size: 30px;
}
h4 {
  color: white;
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3 {
    flex-basis: 90%;
  }
  hr {
    display: none;
  }
  .customs .btn {
    left: 30%;
  }
}
@media only screen and (max-width: 870px) {
  .image {
    display: none;
  }
  .container {
    padding: 20px;
  }
  nav ul {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: height 0.6s ease;
  }
  nav ul li {
    display: block;
    margin: 40px;
    color: white;
    width: 100px;
    padding: 10px;
    position: relative;
    left: 36vw;
    border-bottom: 1px solid black;
    text-align: center;
  }

  nav ul li a {
    color: black;
    text-align: center;
    width: 90px;
  }
  nav ul li:last-child {
    border: none;
  }
  .ham {
    display: block;
  }
  .col-2 h1 {
    margin-top: 50px;
  }
  header li a:hover {
    transform: scale(1.2);
    color: black;
  }
}
